# Kompilierte Java-Dateien
*.class

# Build-Verzeichnis
build/
target/

# Maven
.mvn/
mvnw
mvnw.cmd

# IDE-Dateien
# Standardmäßig .vscode ignorieren, aber die Workspace-Einstellung erlauben
.vscode/
!/.vscode/settings.json
.idea/
*.iml

# Log-Dateien
*.log

# Temporäre Dateien
*.tmp
*.swp
*~

# Python
.venv/
__pycache__/
*.pyc
